apiVersion: apps/v1
kind: Deployment
metadata:
  name: cricradio-mysql-deployment
  labels:
    app: cricradio-mysql-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: cricradio-mysql
  
  template:
    metadata:
      name: cricradio-mysql-pod
      labels:
        app: cricradio-mysql

    spec:
      containers:
      - name: cricradio-mysql
        image: mysql:latest
        ports:
        - containerPort: 3307